

Spark RDD

In [ ]:
!pip install pyspark
from pyspark import SparkConf, SparkContext
import collections

conf = SparkConf().setMaster("local").setAppName("Word Counting Example")
sc = SparkContext.getOrCreate(conf = conf)
text_File = sc.textFile('/content/example.txt')

In [5]:
files = (text_File.map(lambda line: line.split(' '))).reduce(lambda x: 1)
words = (sc.parallelize(files)).map(lambda word: (word, 1))
print(words.collect())

[('một', 1), ('một', 1), ('một', 1), ('một', 1), ('một', 1), ('hai', 1), ('ba', 1), ('bốn', 1), ('năm', 1), ('sáu', 1)]

In [6]:
counts = words.count()
print("Văn bản trên có " + str(counts) + " từ")

Văn bản trên có 10 từ

In [7]:
words = words.reduceByKey(lambda x, y: x+y)
mostWords = (words.reduce(lambda a, b: a if a[1] > b[1] else b))
max = mostWords[1]
mostWord = [i for i in words.collect() if i[1] == max]
print("Từ xuất hiện nhiều nhất là: ")
print(mostWord)

Từ xuất hiện nhiều nhất là:
[('một', 5)]

In [14]:
import pyspark
import collections
from pyspark import SparkConf, SparkContext
from pyspark.sql import SparkSession

spark = SparkSession.builder.master("local[2]").appName("Word Counting").getOrCreate()
number = [('One', 1), ('Two', 2), ('Three', 3)]
rdd = spark.sparkContext.parallelize(number)
count = rdd.reduceByKey(lambda a, b: a + b)
print(count.collect())

[('One', 1), ('Two', 2), ('Three', 3)]

Spark Dataframe

In [15]:
import pyspark
from pyspark import SparkConf, SparkContext
from pyspark.sql import SparkSession
import collections
conf = SparkSession.builder.master("local[2]").appName("SparkDataframe").getOrCreate()
dataSet = [('51800105', 'Truong Minh Quang', 'Nam', 'CNTT'),
           ('51800035', 'Pham Gia Han', 'Nu', 'CNTT'),
           ('51800147', 'Nguyen Vat Dat', 'Nam', 'CNTT'),
           ('01900532', 'Ly Hoang Long', 'Nam', 'QTKD')]
df = conf.createDataFrame(data = dataSet, schema = ['MSSV', 'Ho Ten', 'Gioi Tinh', 'Nganh'])
df.show()

+--------+-----------------+---------+-----+
|    MSSV|           Ho Ten|Gioi Tinh|Nganh|
+--------+-----------------+---------+-----+
|51800105|Truong Minh Quang|      Nam| CNTT|
|51800035|     Pham Gia Han|       Nu| CNTT|
|51800147|   Nguyen Vat Dat|      Nam| CNTT|
|01900532|    Ly Hoang Long|      Nam| QTKD|
+--------+-----------------+---------+-----+

In [20]:
df.printSchema() #In ra các cột có trong dataframe và kiểu dữ liệu từng cột
df.select('MSSV', 'Ho Ten').show() #Show các dữ liệu trong các cột được chọn
df.describe().show() #Thống kê tóm tắt các cột

root
 |-- MSSV: string (nullable = true)
 |-- Ho Ten: string (nullable = true)
 |-- Gioi Tinh: string (nullable = true)
 |-- Nganh: string (nullable = true)

+--------+-----------------+
|    MSSV|           Ho Ten|
+--------+-----------------+
|51800105|Truong Minh Quang|
|51800035|     Pham Gia Han|
|51800147|   Nguyen Vat Dat|
|01900532|    Ly Hoang Long|
+--------+-----------------+

+-------+--------------------+-----------------+---------+-----+
|summary|                MSSV|           Ho Ten|Gioi Tinh|Nganh|
+-------+--------------------+-----------------+---------+-----+
|  count|                   4|                4|        4|    4|
|   mean|       3.932520475E7|             null|     null| null|
| stddev|2.4949781833376102E7|             null|     null| null|
|    min|            01900532|    Ly Hoang Long|      Nam| CNTT|
|    max|            51800147|Truong Minh Quang|       Nu| QTKD|
+-------+--------------------+-----------------+---------+-----+

In [21]:
import pyspark
from pyspark import SparkConf, SparkContext
from pyspark.sql import SparkSession
import collections
ss = SparkSession.builder.master("local[2]").appName("SparkDataframe").getOrCreate()

df = spark.read.csv("/content/iris.data", inferSchema = True, header = True)
df.show()

+---+---+---+---+-----------+
|5.1|3.5|1.4|0.2|Iris-setosa|
+---+---+---+---+-----------+
|4.9|3.0|1.4|0.2|Iris-setosa|
|4.7|3.2|1.3|0.2|Iris-setosa|
|4.6|3.1|1.5|0.2|Iris-setosa|
|5.0|3.6|1.4|0.2|Iris-setosa|
|5.4|3.9|1.7|0.4|Iris-setosa|
|4.6|3.4|1.4|0.3|Iris-setosa|
|5.0|3.4|1.5|0.2|Iris-setosa|
|4.4|2.9|1.4|0.2|Iris-setosa|
|4.9|3.1|1.5|0.1|Iris-setosa|
|5.4|3.7|1.5|0.2|Iris-setosa|
|4.8|3.4|1.6|0.2|Iris-setosa|
|4.8|3.0|1.4|0.1|Iris-setosa|
|4.3|3.0|1.1|0.1|Iris-setosa|
|5.8|4.0|1.2|0.2|Iris-setosa|
|5.7|4.4|1.5|0.4|Iris-setosa|
|5.4|3.9|1.3|0.4|Iris-setosa|
|5.1|3.5|1.4|0.3|Iris-setosa|
|5.7|3.8|1.7|0.3|Iris-setosa|
|5.1|3.8|1.5|0.3|Iris-setosa|
|5.4|3.4|1.7|0.2|Iris-setosa|
+---+---+---+---+-----------+
only showing top 20 rows

In [34]:
df.printSchema()
df.select('Iris-setosa').show()
df.describe('Iris-setosa').show()

root
 |-- 5.1: double (nullable = true)
 |-- 3.5: double (nullable = true)
 |-- 1.4: double (nullable = true)
 |-- 0.2: double (nullable = true)
 |-- Iris-setosa: string (nullable = true)

+-----------+
|Iris-setosa|
+-----------+
|Iris-setosa|
|Iris-setosa|
|Iris-setosa|
|Iris-setosa|
|Iris-setosa|
|Iris-setosa|
|Iris-setosa|
|Iris-setosa|
|Iris-setosa|
|Iris-setosa|
|Iris-setosa|
|Iris-setosa|
|Iris-setosa|
|Iris-setosa|
|Iris-setosa|
|Iris-setosa|
|Iris-setosa|
|Iris-setosa|
|Iris-setosa|
|Iris-setosa|
+-----------+
only showing top 20 rows

+-------+--------------+
|summary|   Iris-setosa|
+-------+--------------+
|  count|           149|
|   mean|          null|
| stddev|          null|
|    min|   Iris-setosa|
|    max|Iris-virginica|
+-------+--------------+